:root{
 --maincolor : #252734;
 --secondarycolor : #333646;
 --acsentcolor : #ff9100;
}

body{
    background-color: var(--maincolor);
    min-height: 100px;
    font-family: 'ubuntu';
}

section h1{
    color: #ffff;
    font-size: 2,5rem;
}

section{
    padding-top: 6rem;
}

/* go top button */
.go-top-btn {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    height: 50px; 
    width: 50px; 
    background: var(--secondarycolor);
    border: 3px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
    z-index: 9999; 
}

.go-top-btn img {
    width: 20px;
    height: 20px;
}


/* navbar start */
.nav-link.active{
    color: var(--acsentcolor) !important;
    font-weight: 700;
}
/* navbar end */

/* hero start */
.color-ascent{
    color: var(--acsentcolor);
}

#hero{
    color: #ffff;
   
}

.hallo {
    padding-top: 1rem;
}

/* button */

.btn-custom1 {
    background-color: var(--acsentcolor);
    text-align: center;
    color: #fff;
    min-width: 150px;
    height: 45px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 25px; 
    
}

.btn-custom1:hover {
    background-color: #ffcc66;
    color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 0 2px rgba(255, 166, 0, 0.8);
  
}

.btn-custom1 a {
    text-decoration: none;
  }
  

.cv{
    color: #ffff;
    cursor: pointer;
    
}

/* hero end */

/* jumbotron start*/
.jumbotron{
    padding-top: 4rem;
}
   
/* jumbotron end */

/* sosmed ikon */
.fab {
    font-size: 1rem; 
}
/* sosmed ikon end */


/* about start */
hr{
    width: 35%;
    height: 5px;
    color: var(--acsentcolor);
    margin: 0 auto;
    opacity: 100%;
}

#about{
   min-height: 300px;
   width: 100%;
   background-color: var(--secondarycolor);
   color:#ffff;
   padding-top: 80px;
   
   margin-bottom: 80px;
    
}
/* about end */

/* skill start */
#skill{
    min-height: 600px;
    width: 100%;
    color: #ffff;
}

#skill img{
    width: 15%;
    margin: 10px;
}
/* skill end */

/* Gallery */

.gallery-card {
    background-color: var(--secondarycolor); 
    color: white; 
}

.gallery-card .card-body {
    background-color: var(--secondarycolor); /
}

.gallery-card {
    max-width: 500px; 
    margin: 0 auto;   
}
/* gallery end */

/* contact */
#contact{
    background-color: var(--secondarycolor);
}

.submit-btn {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff9100;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .submit-btn:hover {
    background-color: #e87d00;
  }
/* contact end */





